<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title> Emosense </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/raspi.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/addtohomescreen.css') }}">
    <script src="{{ url_for('static', filename='js/addtohomescreen.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="fixed-nav sticky-footer emotion-bg" id="page-top"  style="background-image: url(../static/image/bg.jpg); background-size: 100vw 100vh; background-repeat: no-repeat; width: 100vw; height: 100vh;">
<br><br>

<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <!-- <a class="navbar-brand" href="{{ url_for('.home') }}" style="color: white; font-size: 30px">EmoSense Dashboard</a> -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="/login" class="btn btn-outline-danger" type="submit">Login</a>
        </form>
      </div>
    
</nav>
<br>


</body>
</html>
